<head>
  <meta charset="utf-8" />
  <title>Youtube Sync</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css"
  />
  <link rel="stylesheet" href="/stylesheets/room.css" />
</head>

<div id="roomTitle" class="ui main text container center aligned">
  <h2 class="ui header" id="roomName"><%= roomName %></h2>
</div>

<div id="main" class="ui three centered column grid">
  <div class="row">
    <div class="ten wide column">
      <form id="url" class="ui action input">
        <input type="text" id="youtubeURL" placeholder="Enter YouTube link" />
        <button type="submit" class="ui button lightgrey">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="eight wide column">
      <div class="videoWrapper">
        <div id="player"></div>
      </div>
    </div>
    <div id="chat-div" class="two wide column">
      <ul class="pages">
        <li class="login page">
          <div class="form">
            <h3 class="title">Enter username:</h3>
            <input class="usernameInput" type="text" maxlength="14" />
          </div>
        </li>
        <br />
        <li class="chat page">
          <div class="chatArea">
            <ul class="messages"></ul>
          </div>
          <input class="inputMessage" placeholder="Type here..." />
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/js/main.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
  var rooms = document.getElementById("roomName").innerHTML.split(":");
  var roomName = rooms[rooms.length - 1];
  var socket = io({
    query: {
      roomName: roomName,
    },
  });
  var expected = "unstarted";

  $(function () {
    $("#url").submit(function (e) {
      e.preventDefault();
      socket.emit("newVideo", $("#youtubeURL").val(), roomName);
      $("#youtubeURL").val("");
      return false;
    });
  });

  var tag = document.createElement("script");
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName("script")[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player("player", {
      height: "360",
      width: "640",
      videoId: "Ss6vLmLcCbU",
      events: {
        onReady: onPlayerReady,
        onStateChange: onPlayerStateChange,
      },
    });
  }

  function onPlayerReady(event) {
    console.log("ready");

    socket.on("playPlayer", function () {
      expected = "play";
      playVideo();
    });

    socket.on("pausePlayer", function () {
      expected = "pause";
      pauseVideo();
    });

    socket.on("bufferingPlayer", function (time) {
      player.seekTo(time, true);
    });

    socket.on("newVideo", function (id) {
      console.log(id);
      player.loadVideoById(id, 0);
    });

    socket.on("newUser", function () {
      socket.emit("requestCurrentVideo");
    });
  }

  function emitState(playerStatus) {
    if (playerStatus == 0) {
      socket.emit("end", roomName);
    } else if (playerStatus == 1 && expected != "play") {
      socket.emit("play", roomName);
    } else if (playerStatus == 2 && expected != "pause") {
      socket.emit("pause", roomName);
    } else if (playerStatus == 3) {
      socket.emit("buffering", player.getCurrentTime(), roomName);
    } else if (playerStatus == 5) {
      socket.emit("status5");
    } else if (playerStatus == -1) {
      socket.emit("statusminus1");
    }
  }

  function onPlayerStateChange(event) {
    emitState(event.data);
  }

  function stopVideo() {
    player.stopVideo();
  }

  function pauseVideo() {
    player.pauseVideo();
  }

  function playVideo() {
    player.playVideo();
  }
</script>
