* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}
body { 
    font: 13px Helvetica, Arial; 
}

#title {
    height: 20%;
    position: relative;
    background-image: linear-gradient(to bottom right, #1daeb3, #0eb81c);
}
#header {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#createRoomButtonDiv {
    margin: 1rem;
}
#createRoomButton {
    background-color: #0eb81c;
}

